.mini-header { color: salmon;}

.miniLink {
    // color: white;
    // background-color: rgba(15, 15, 15, 0.493);
    // border: thin solid rgb(155, 155, 155);
    // text-transform: uppercase;
    cursor: pointer;
    border-radius: 8px;
    // text-decoration: none;
    // margin: 0 auto; 
    // display:block; 
    // text-align: center;

    &:hover {background-color:rgb(155, 155, 155);}
    
}

// .mini-button-modifier {
//     text-decoration: none;
// }

.miniImage {
    cursor: pointer;
    &:hover {
        
        
    }
    border-radius: 8px;
    
}


ul {
    list-style: none;
}


.miniCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.showInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;  
    text-align: center;
}

.mainTitle {
    text-align: center;
    color: white;
}

.desc {
    text-align: center;
}

body {
    background: rgb(89,89,89);
    background: radial-gradient(circle, rgba(89,89,89,1) 0%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);
}

p {
    color: white;
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
}
